[Unit]
Description=AlphaCafe
After=syslog.target network.target dbus.service
StartLimitBurst=25

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/screen -dmS ykkbot /usr/bin/python /home/cloth/AlphaCafe/AlphaCafe.py
Type=forking
WorkingDirectory=/home/cloth/AlphaCafe/
Restart=always
RestartSec=3
